appdirs==1.4.3
argon2-cffi==19.2.0
asgiref==3.2.7
astroid==2.4.1
autopep8==1.5.2
cffi==1.14.0
click==7.1.2
colorama==0.4.3
crayons==0.3.1
cycler==0.10.0
Cython==0.29.16
distlib==0.3.0
dj-database-url==0.5.0
Django==3.0.6
django-appconf==1.0.4
django-cors-headers==3.2.1
django-environ==0.4.5
django-extensions==2.2.9
django-filter==2.2.0
django-heroku==0.3.1
django-ipware==2.1.0
django-rest-registration==0.5.6
django-templated-mail==1.1.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
drf-flex-fields==0.8.0
filelock==3.0.12
gunicorn==20.0.4
isodate==0.6.0
isort==4.3.21
jsonfield==3.1.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
msrest==0.6.14
pbr==5.4.5
Pillow==7.1.2
psycopg2==2.8.5
pycodestyle==2.5.0
pycparser==2.20
PyJWT==1.7.1
pylint==2.5.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-decouple==3.3
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
stevedore==1.32.0
stripe==2.48.0
toml==0.10.0
typed-ast==1.4.1
Unipath==1.1
virtualenv==20.0.17
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
whitenoise==5.1.0
wrapt==1.12.1
