absl-py>=0.15.0
appdirs>=1.4.3
asgiref>=3.4.1
autopep8>=1.5.2
azure-msi-mssql-django>=1.6
certifi>=2021.10.8
cffi>=1.15.0
charset-normalizer>=2.0.7
coreapi>=2.3.3
cryptography>=35.0.0
cycler>=0.10.0
Cython>=0.29.16
distlib>=0.3.0
Django>=3.2.8
django-cors-headers>=3.2.1
djangorestframework>=3.11.0
drf-flex-fields>=0.8.0
drf-writable-nested>=0.6.1
drf-yasg>=1.17.1
filelock>=3.0.12
idna>=3.3
jsonfield>=3.1.0
msal>=1.15.0
ortools>=9.1.9490
pbr>=5.4.5
protobuf>=3.19.0
pycodestyle>=2.5.0
pycparser>=2.20
PyJWT>=2.3.0
pyodbc>=4.0.32
pyparsing>=2.4.7
python-dateutil>=2.8.1
python-decouple>=3.5
pytz>=2020.1
requests>=2.26.0
sentry-sdk>=1.4.3
six>=1.14.0
sqlparse>=0.3.1
stevedore>=1.32.0
Unipath>=1.1
urllib3>=1.26.7
virtualenv>=20.0.17
virtualenv-clone>=0.5.4
virtualenvwrapper>=4.8.4
